<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>

<body>
  <h1>Register</h1>
  <img th:src="@{/images/TacoCloud.png}" alt="Taco Cloud Logo" />

  <form method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required="required" /><br/>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required="required" /><br/>

    <label for="confirm">Confirm password: </label>
    <input type="password" id="confirm" name="confirm" required="required" /><br/>

    <label for="fullname">Full name: </label>
    <input type="text" id="fullname" name="fullname" required="required" /><br/>

    <label for="street">Street: </label>
    <input type="text" id="street" name="street" required="required" /><br/>

    <label for="city">City: </label>
    <input type="text" id="city" name="city" required="required" /><br/>

    <label for="state">State: </label>
    <input type="text" id="state" name="state" required="required" /><br/>

    <label for="zip">Zip: </label>
    <input type="text" id="zip" name="zip" required="required" /><br/>

    <label for="phone">Phone: </label>
    <input type="text" id="phone" name="phone" required="required" /><br/>

    <input type="submit" value="Register" />
  </form>

</body>
</html>